.Subir {
    animation: init 2s;
}

.mostrarXP {
    animation: MostrarXP 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fecharXP{
    animation: FecharXP 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes init {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes MostrarXP {
    0% {
        transform: scaleX(0%);
        transform-origin: left center;
    }

    100% {
        transform: scaleX(100%);
        transform-origin: left center;
    }
}

@keyframes FecharXP {
    0% {
        transform: scaleX(100%);
        transform-origin: left center;
    }

    100% {
        transform: scaleX(0%);
        transform-origin: left center;
    }
}