@keyframes next {
    0%{
        transform: translateX(-100%);
    }
    


    100%{
        transform: translateX(0%);
    }
}

@keyframes hov {
    0%{
        transform: scale(1);
    }
    
    50%{
        transform: scale(0.98);
    }
    
    100%{
        transform: scale(1);
    }
}