@media  screen and (min-width: 768px) and (max-width: 1023px) {

    .card-line{
        margin-left: 2%;
        margin-right: 2%;
    }

    .menu {
        margin-left: 50%;
    }

    .side1, .side4{
        margin-right: -25px;
    }

    .educacao{
        margin-top: 10px;
    }

    .home{
        margin-top: 0px;
        margin-bottom: 0;
    }

    .edu_img{
        margin-top: 15px;
        width: 200px;
    }
    
    .edu_img2{
        margin-top: 20px;
        width: 250px;
    }

    .side1, .side2{
        margin-bottom: 20px;
    }


    .stacks .front{
        width: 5%;
        min-width: 200px;
        margin-right: 10px;
    }
    .stacks .back{
        width: 5%;
        min-width: 200px;
        margin-right: 10px;
    }
    .stacks .outras{
        width: 5%;
        min-width: 200px;
        margin-right: 10px;
    }
}